<header class="w-full border-b border-gray-900">
    <div class="custom-container flex items-center justify-between h-[6rem]">
        <a class="text-xl font-semibold tracking-wide" href="/">Affine</a>
        {{> "partials/nav" }}
        {{> "components/button-fill" text="Log In" }}
    </div>
</header>