<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/index.js" defer></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">

<body class="bg-[#010101] text-gray-100">
    {{embed}}
</body>

</html>