.custom-container {
    width: 90rem;
    max-width: 95%;
    margin-inline: auto;
}

/** Header */
.nav-link {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #ccc;
    z-index: 1;
    padding: 0 0.75rem;
    letter-spacing: 0.4px;
    border-radius: 2rem;
}
.nav-link.active {
    color: #f1f1f1;
    background: rgba(128, 128, 128, 0.25);
}
.nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(128, 128, 128, 0.3);
    filter: blur(6px);
    opacity: 0;
    transition: opacity 0.4s ease;
    border-radius: 2rem;
    z-index: -1;
}
.nav-link:hover::before {
    opacity: 1;
}

/** Header */
